<div class="box">
  <div class="box-header">
    <h2 class="box-title">
    {% if user is not defined %}Upcoming events
    {% elseif user == currentuser %}My Upcoming Events
    {% else %}{{ user.firstname }}'{{ user.firstname|last == 's' ? '' : 's'}} Upcoming Events
    {% endif %}
    </h2>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>Date</th>
          <th>Roles</th>
          <th>Type</th>
          <th>SubType</th>
          <th></th>
        </tr>
        {% if events.count == 0 %}
        <tr>
          <td colspan="5">No upcoming events. <a href="{{ path_for('events') }}">View all events.</a></td>
        </tr>
        {% endif %}
        {% for event in events %}
        <tr data-toggle='modal' data-target="#event{{ event.id }}_modal">
          <td>{{ event.date|date('jS F') }}</td>
          <td>
          {% if user is defined %}
          {% for role in user.rolesinevent(event) %}
              {{ role.name }}{% if not loop.last %}, {% endif %}
          {% endfor %}
          {% elseif group is defined %}
          {{ group.rolesinevent(event).count }}
          {% else %}
          {{ event.eventpeople.count }}
          {% endif %}
          </td>
          <td>{{ event.eventtype.name }}</td>
          <td>{{ event.eventsubtype.name }}</td>
          <td>
            {% if event.comments.count > 0 %}
            <span data-toggle="tooltip" title="" class="badge bg-green" data-original-title="{{ event.comments.count }} Comment{{ event.comments.count == 1 ? '' : 's' }}">
              {{ event.comments.count }}
            </span>
            &nbsp;
            {% endif %}
            <a class="js-no-link btn btn-xs btn-primary" href="{{ path_for('event', { 'id': event.id }) }}">View</a>
          </td>
        </tr>
        {% include 'event-modal.twig' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>