<div class="modal fade" id="event{{ event.id }}_modal" role="dialogue">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">
          {{ event.name }}
        </h4>
      </div>
      <div class="modal-body">
        {% include 'event-info.twig' %}
      </div>
      <hr />
      <div class="modal-body">
        {% include 'event-people-list.twig' %}
      </div>
      <div class="modal-body box-comments">
        {% include 'event-comments.twig' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <div class="btn-group">
          <a class="btn btn-success" href="{{ path_for('event', { 'id': event.id }) }}">View details</a>
          <a class="btn btn-warning" href="{{ path_for('home') }}old/swap.php?event={{ event.id }}">Swap</a>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Edit <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="" href="{{ path_for('event-edit', { 'id': event.id }) }}">Edit details</a>
            </li>
            <li>
              <a class="" href="{{ path_for('event-assign', { 'id': event.id }) }}">Assign people</a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="" href="{{ path_for('event-copy', { 'id': event.id }) }}">Copy event</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>