<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    {% for group, eventpeople in event.eventpeople|sort_by(=> _.userrole.role.group.name)|group_by(=> _.userrole.role.group) %}
    <li class="{{ loop.index == 1 ? 'active' : '' }}"><a href="#{{ event.id }}_{{ group.id }}" data-toggle="tab" aria-expanded="true"><strong>{{ group.name }}</strong></a></li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for group, eventpeople in event.eventpeople|sort_by(=> _.userrole.role.group.name)|group_by(=> _.userrole.role.group) %}
    <div class="tab-pane {{ loop.index == 1 ? 'active' : '' }}" id="{{ event.id }}_{{ group.id }}">
      <ul class="users-list clearfix">
      {% for user, eventpeople in eventpeople|sort_by(=> _.userrole.user.name)|group_by(=> _.userrole.user) %}
        <li>
          <a href="{{ path_for('user', { 'id': user.id }) }}">
            <img src="{{ user.profileimage('medium') }}" alt="{{ user.name }}"/>
            <span class="users-list-name">{{ user.name }}</span>
            {% for eventperson in eventpeople %}
              {{ currentuser == eventperson.userrole.user ? '<strong>' : '' }}
              <span class="users-list-date">{{ eventperson.userrole.role.name }}</span>
              {{ currentuser == eventperson.userrole.user ? '</strong>' : '' }}
            {% endfor %}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
    {% else %}
    <p>There are no people assigned to this event. <a href="{{ path_for('event-assign', { 'id': event.id }) }}">Assign people</a></p>
    {% endfor %}
  </div>
</div>