{% extends 'layout.twig' %}

{% block content %}

<div class="row">
  <form action="{{ path_for('event-assign-post', { 'id': event.id }) }}" method="post">
    {% for group, groupedroles in userroles|sort_by(=> _.role.group.name, 'ASC')|group_by(=> _.role.group) %}
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">{{ group.name }}</h3>
        </div>
        <div class="box-body">
          {% for role, groupeduserroles in groupedroles|sort_by(=> _.role.name, 'ASC')|group_by(=> _.role) %}
            <div class="form-group">
              <label>{{ role.name }}</label>
              <select name="userrole[]" multiple="multiple" class="form-control multi" style="width:100%;" data-placeholder="Select people for {{ role.name }}">
                <optgroup label="Regular">
                {% for userrole in groupeduserroles|sort_by(=> _.user.lastname) if userrole.reserve != true %}
                  <option value="{{ userrole.id }}" {% if userrole in event.currentuserroles %}selected="selected"{% endif %} {% if not userrole.isavailableforevent(event) %}disabled="disabled"{% endif %}>{{ userrole.user.name }}{{ not userrole.isavailableforevent(event) ? ( userrole.availabilityforevent(event).comment is empty ? ' (unavailable)' : " (#{userrole.availabilityforevent(event).comment})" ) : '' }}</option>
                {% endfor %}
                </optgroup>
                <optgroup label="Reserve">
                {% for userrole in groupeduserroles|sort_by(=> _.user.lastname) if userrole.reserve == true %}
                  <option value="{{ userrole.id }}" {% if userrole in event.currentuserroles %}selected="selected"{% endif %} {% if not userrole.isavailableforevent(event) %}disabled="disabled"{% endif %}>{{ userrole.user.name }}{{ not userrole.isavailableforevent(event) ? ( userrole.availabilityforevent(event).comment is empty ? ' (unavailable)' : " (#{userrole.availabilityforevent(event).comment})" ) : '' }}</option>
                {% endfor %}
                </optgroup>
              </select>
              </div>
            {% endfor %}
        </div>
        <div class="box-footer">
          <input class="btn btn-primary" type="submit" value="Save" />
        </div>
      </div>
    </div>
    {% endfor %}
  </form>
</div>

{% endblock %}


{% block javascript %}
$( document ).ready(function() {

  // People multi-select
  $('select.multi').select2();
});

{% endblock %}

