{% spaceless %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rotas | {{ site.settings.owner }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link rel="stylesheet" href="{{ site.settings.siteurl }}/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<!-- Select2 -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

	<link rel="shortcut icon" href="{{ site.settings.siteurl }}/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{ site.settings.siteurl }}/favicon.ico" type="image/x-icon">

    <!-- Theme style -->
    <link rel="stylesheet" href="{{ site.settings.siteurl }}/dist/css/AdminLTE.min.css">
		
    <!-- Make sure you apply the skin class to the body tag so the changes take effect. -->
    <link rel="stylesheet" href="{{ site.settings.siteurl }}/dist/css/skins/{{ site.settings.skin | default('skin-blue-light') }}.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="{{ site.settings.skin | default('skin-blue-light') }} fixed">
	<div class="wrapper">

		<!-- Main Header -->
		<header class="main-header">

			<!-- Logo -->
			<a href="{{ site.settings.siteurl | default('/') }}" class="logo">
				<!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini">Rota</span>
				<!-- logo for regular state and mobile devices -->
				<span class="logo-lg">{{ site.settings.owner }}</span>
			</a>

			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Messages: style can be found in dropdown.less-->
						<li class="dropdown messages-menu">
							<!-- Menu toggle button -->
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-envelope-o"></i>
								{# <span class="label label-success">4</span> ?> #}
							</a>
							<ul class="dropdown-menu">
								<li class="header">All Saints email</li>
								<li>
									<!-- inner menu: contains the messages -->
									<ul class="menu">
										<li><!-- start message -->
											<a href="https://allsaints.church/mail">
												<div class="pull-left">
													<!-- User Image -->
													<img src="{{ site.settings.siteurl }}/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
												</div>
												<!-- Message title and timestamp -->
												<h4>
													Church Emails
													{# <?php //<small><i class="fa fa-clock-o"></i> 5 mins</small> ?> #}
												</h4>
												<!-- The message -->
												<p>Login to your All Saints email account</p>
											</a>
										</li><!-- end message -->
										<li><!-- start message -->
											<a href="#">
												<div class="pull-left">
													<!-- User Image -->
													<img src="{{ site.settings.siteurl }}/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
												</div>
												<!-- Message title and timestamp -->
												<h4>
													COMING SOON: Rota Emails
													{# <?php //<small><i class="fa fa-clock-o"></i> 5 mins</small> ?> #}
												</h4>
												<!-- The message -->
												<p>View your messages from the rota system</p>
											</a>
										</li><!-- end message -->
									</ul><!-- /.menu -->
								</li>
								<li class="footer"><a href="#">See All Messages</a></li>
							</ul>
						</li><!-- /.messages-menu -->
						
						<!-- Notifications Menu -->
						{% set unseencount = user.unseennotifications.count %}
						<li class="dropdown notifications-menu">
							<!-- Menu toggle button -->
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-bell-o"></i>
								{% if unseencount >= 1 %}<span class=\"label label-warning\">{{ unseencount }}</span>{% endif %}
							</a>
							<ul class="dropdown-menu">
								<li class="header">You have {{ unseencount >= 1 ? unseencount : "no" }} new notifications</li>
								<li>
									<!-- Inner Menu: contains the notifications -->
									<ul class="menu">
									{% for notification in currentuser.currentnotifications %}
										<li><!-- start notification -->
											<a href="{{ path_for('notification', {'id': notification.id, 'referrer': 'notifications-panel' } ) }}">
												<i class="fa fa-users text-aqua"></i> {% if notification.seen %}{{ notification.summary }}{% else %}<strong>{{ notification.summary }}</strong>{% endif %}
												<small>{{ notification.timestamp | time_diff }}</small>
											</a>
										</li><!-- end notification -->
									{% endfor %}
									</ul>
								</li>
								<li class="footer"><a href="#">View all (comming soon...)</a></li>
							</ul>
						</li>
						
						<!-- User Account Menu -->
						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button -->
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<!-- The user image in the navbar-->
								<img src="{{ currentuser.profileimage('small') }}" class="user-image" alt="User Image">
								<!-- hidden-xs hides the username on small devices so only the image appears. -->
								<span class="hidden-xs">{{ currentuser.name }}</span>
							</a>
							<ul class="dropdown-menu">
								<!-- The user image in the menu -->
								<li class="user-header">
									<img src="{{ currentuser.profileimage('medium') }}" class="img-circle" alt="User Image">
									<p>
										{{- currentuser.name -}}
										<small>Account created {{ currentuser.created is empty ? 'in the past' : currentuser.created | date('M. Y') }}</small>
									</p>
								</li>
								<!-- Menu Body -->
								<li class="user-body">
									<div class="col-xs-4 text-center">
										<a href="{{ path_for('user-calendars') }}">Sync to calendar</a>
									</div>
									<div class="col-xs-4 text-center">
										<a href="{{ path_for('user-password', { 'id': currentuser.id }) }}">Change Password</a>
									</div>
									<div class="col-xs-4 text-center">
										<a href="{{ path_for('home') }}old/linkSocialAuth.php">Social Login</a>
									</div>
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a href="{{ path_for('user-me') }}" class="btn btn-default btn-flat">My Account</a>
									</div>
									<div class="pull-right">
										<a href="{{ path_for('logout') }}" class="btn btn-default btn-flat">Sign out</a>
									</div>
								</li>
							</ul>
						</li>
						
						<!-- Control Sidebar Toggle Button -->
						<li>
							<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
						</li>
            
					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

				<!-- Sidebar user panel (optional) -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="{{ currentuser.profileimage('medium') }}" class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p>{{ currentuser.name }}</p>
						<!-- Status -->
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>

				<!-- search form (Optional) -->
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
							<!--button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button-->



						</span>
					</div>
				</form>
				<!-- /.search form -->

				<!-- Sidebar Menu -->
				<ul class="sidebar-menu">
					<li class="header">ROTAS</li>
					<li class="{% if currentroute.name == 'home' %}active{% endif %}">
            <a href="{{ path_for('home') }}">
              <i class="fa fa-tachometer"></i> <span>Dashboard</span>
            </a>
          </li>
					<li class="treeview {% if (currentroute.name in ['events', 'event', 'event-edit', 'event-new', 'events-eventtype', 'events-eventsubtype']) %}active{% endif %}">
						<a href="{{ path_for('events') }}"><i class="fa fa-calendar"></i> <span>Events</span><i class="fa fa-angle-left pull-right"></i></a>
						<ul class="treeview-menu">
							{% for type in site.menu.events.type %}
							<li class="{% if currentroute.name == 'events-eventtype' and currentroute.arguments.id == type.id %}active{% endif %}">
									<a href="{{ path_for('events-eventtype', { 'id': type.id }) }}">{{ type.name }}</a>
								</li>
							{% endfor %}
								<li class="{% if currentroute.name == 'events' %}active{% endif %}">
									<a href="{{ path_for('events') }}">View All</a>
								</li>
								<li class="{% if currentroute.name == 'event-new' %}active{% endif %}">
									<a href="{{ path_for('event-new') }}">Add Event</a>
								</li>
						</ul>
					</li>

			<li class="treeview {% if (currentroute.name in ['group']) %}active{% endif %}">
				<a href=""><i class="fa fa-bar-chart"></i> <span>Teams</span><i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
					{% for group in site.menu.groups %}
					<li class="{% if currentroute.name == 'group' and currentroute.arguments.id == group.id %}active{% endif %}">
						<a href="{{ path_for('group', { 'id': group.id }) }}">{{ group.name }}</a>
					</li>
					{% endfor %}
					<li class="{% if currentroute.name == 'group-new' %}active{% endif %}">
						<a href="{#{ path_for('group-new') }#}" data-toggle="modal" data-target="#group">Add Team</a>
					</li>
				</ul>
			</li>
			<li class="{% if currentroute.name == 'resources' %}active{% endif %}">
				<a href="{{ path_for('resources') }}">
					<i class="fa fa-folder-o"></i> <span>Resources</span>
				</a>
			</li>
					<li class="{% if currentroute.name in ['user-me', 'user-calendars'] %}active{% endif %}">
						<a href="{{ path_for('user-me') }}">
							<i class="fa fa-user"></i> <span>My account</span>
						</a>
					</li>
          <li class="{% if (currentroute.name in ['users', 'user', 'user-edit']) %}active{% endif %}">
            <a href="{{ path_for('users') }}">
              <i class="fa fa-users"></i> <span>Users</span>
            </a>
          </li>
					<li class="{% if (currentroute.name == 'settings') %}active{% endif %}">
						<a href="{{ path_for('settings') }}"><i class="fa fa-gears"></i> <span>Settings</span></a>
					</li>
				</ul>
      </section>
		</aside>

			<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            10:45 Service
            <small>Rotas</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{{ path_for('home') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Rotas</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

			<div class="alert alert-info alert-dismissable no-print">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h4><i class="icon fa fa-info"></i> BETA Test</h4>
				<p>You are testing the new rota system. <a href="{{ path_for('home') }}old/createEvent.php">Use the old event creation screen.</a></p>
			</div>

			{% include 'error-banner.twig' %}

			{% block content %}{% endblock %}

			{% include 'group-edit-modal.twig' only %}

        </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</div><!-- ./wrapper -->
<!-- Main Footer -->
<footer class="main-footer">
	<!-- To the right -->
	<div class="pull-right hidden-xs">
		Rota System
	</div>
	<!-- Default to the left -->
	<strong>Adaped for <a href="http://allsaints.church">All Saints Church</a> by <a href="https://wilk.tech">Christopher Wilkinson</a>.</strong> Based on <a href="http://sourceforge.com/projects/churchrota">ChurchRota</a> and <a href="https://almsaeedstudio.com/preview">AdminLTE</a>
</footer>


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script src="{{ site.settings.siteurl }}/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.4 -->
<script src="{{ site.settings.siteurl }}/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="{{ site.settings.siteurl }}/dist/js/app.min.js"></script>
<!-- InputMask -->
<script src="{{ site.settings.siteurl }}/plugins/input-mask/jquery.inputmask.js"></script>
<script src="{{ site.settings.siteurl }}/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<!-- bootstrap datepicker -->
<script src="{{ site.settings.siteurl }}/plugins/datepicker/bootstrap-datepicker.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script src="{{ site.settings.siteurl }}/js/general.js"></script>

{#
<?php if(!empty($jsToInclude)): foreach($jsToInclude as $jsInclude): ?>
<script src="{{ site.settings.siteurl }}/js/<?php echo $jsInclude; ?>.js"></script>
<?php endforeach; endif; ?>
#}
<script>{% block javascript %}{% endblock %}</script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
	 Both of these plugins are recommended to enhance the
	 user experience. Slimscroll is required when using the
	 fixed layout. -->
</body>
</html>
{% endspaceless %}